# backend (ASP.NET)
backend/bin/
backend/obj/
backend/*.db
.vscode/
.vs/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace
.idea/
*.code-workspace
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ppPackages/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.user
*.rsuser
*.lock.json
*.log
*.vspscc
*.vssscc
*.nupkg
*.snupkg
.project.nuget.cache
*.suo
*.userosscache
*.userprefs
*.csproj.user
*.dbmdl
*.jfm
*.pdb

# frontend (Next.js)
frontend/node_modules/
frontend/build/
.vscode/
.idea/
*.swp